
* {
	margin: 0;
	padding: 0;
}

@media (max-width: 481px) { 
	.main {
		font-size: 34px;
	}

	.sub {
		font-size: 24px;
	}

	.img-wrapper {
	     width: 95%;
     }
}

@media (min-width: 481px) and (max-width:630px) { 
     .main {
	     font-size: 46px;
     }

     .sub {
	     font-size: 33px;
     }

     .img-wrapper {
	     width: 75%;
     }
}

@media (min-width: 630px) and (max-width:767px) { 
     .main {
	     font-size: 64px;
     }

     .sub {
	     font-size: 46px;
     }

     .img-wrapper {
	     width: 65%;
     }
 }

@media (max-width:767px) { 
	.main {
		font-size: 64px;
	}

	.sub {
		font-size: 46px;
	}
}

body {
	background-color: #dfdfdf;
	color: #333333;
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

a {
	color: #019cdb;
	text-decoration: none;
}

a:hover {
	color: #48b2e8;
}

.header {
	border-top: solid 8px #019cdb;
	margin-bottom: 18px;
}

.nav {
	margin-top: 12px;
	margin-left: 10%;
}

.nav-item {
	list-style: none;
	display: inline;
	margin-right: 12px;
}

.title {
	color: #019cdb;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
}

/*.main {
	font-size: 78px;
}

.sub {
	font-size: 57px;
}*/

.footer-sub {
	font-size: 30px;
}

.button {
	border: 2px solid #019cdb;
	color: #019cdb;
	background-color: transparent;
	display: inline-block; /* To wrap the border just around the content */
	font-size: 20px;
	margin-top: 12px;
	padding: 12px 30px;
}

.button:hover {
	background-color: #019cdb;
	color: #dfdfdf;
	cursor: pointer;
}

.circle {
	border-radius: 50%;
}

.main-img {
	margin-top: -60px;
	max-width: 100%;
	height: auto;
}

.logo {
	z-index: 2;
	width: 100px;
}

.footer {
	text-align: center;
	width: 100%;
	margin-bottom: 2%;
}

.line {
	border-top: 1px solid #828282;
	width: 100%;
	margin-left: 1%;
	margin-right: 1%;
}

.main-wrapper {
	min-height: calc(100vh - 126px);
}

.titles {
	margin-top: -22%;
}

.img-wrapper {
	width: 60%;
}

.input-field {
	width: 80%;
    max-width: 700px;
    margin: 1%;
    line-height: 2em;
    padding: 6px;
    font-size: 1em;
    border-radius: 3px;
    border: none;
}

.flex {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	align-items: center;
}

.column {
	flex-direction: column;
}